{% extends 'admin/master.html' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>统计报表</h1>
            <a href="{{ url_for('report.fix_equipment_statuses') }}" class="btn btn-warning">
                <i class="glyphicon glyphicon-wrench"></i> 检查并修复设备状态一致性
            </a>
            <hr>
        </div>
    </div>
    
    <!-- 设备状态统计 -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">设备状态统计</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>状态</th>
                                <th>数量</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for status, count in equipment_status.items() %}
                            <tr>
                                <td>{{ status }}</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- 维护到期设备 -->
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">近期需要维护的设备</h3>
                </div>
                <div class="panel-body">
                    {% if maintenance_due %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>设备名称</th>
                                <th>设备编号</th>
                                <th>下次维护日期</th>
                                <th>责任人</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in maintenance_due %}
                            <tr>
                                <td>{{ item['设备名称'] }}</td>
                                <td>{{ item['设备编号'] }}</td>
                                <td>{{ item['下次维护日期'] }}</td>
                                <td>{{ item['责任人'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info">
                        近期没有需要维护的设备
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- 借用超期设备 -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">借用超期设备</h3>
                </div>
                <div class="panel-body">
                    {% if borrow_overdue %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>设备名称</th>
                                <th>设备编号</th>
                                <th>借用人</th>
                                <th>预计归还时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in borrow_overdue %}
                            <tr>
                                <td>{{ item['设备名称'] }}</td>
                                <td>{{ item['设备编号'] }}</td>
                                <td>{{ item['借用人'] }}</td>
                                <td>{{ item['预计归还时间'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info">
                        没有借用超期的设备
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <!-- 设备使用率 -->
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">设备使用率</h3>
                </div>
                <div class="panel-body">
                    {% if usage_rate %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>设备名称</th>
                                <th>设备编号</th>
                                <th>使用率</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in usage_rate %}
                            <tr>
                                <td>{{ item['设备名称'] }}</td>
                                <td>{{ item['设备编号'] }}</td>
                                <td>{{ item['使用率'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <div class="alert alert-info">
                        没有使用率数据
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 